<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DG.AdvancedDataGridView" version="1.1.25411.9" targetFramework="net46" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1440.0" targetFramework="net45" />
  <package id="RibbonWinForms" version="5.0.1.1" targetFramework="net46" />
</packages>